.color-bg {
  background-color: #5b4d4da1;
}
.example-spacer {
  flex: 1 1 auto;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

ul {
  list-style: none;
  background: #541c1c00;
}
ul li {
display: inline-block;
position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li{
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: #5b4d4da1;
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 20px 20px 20px 20px;
  margin-top: 3px;
}

ul li:hover ul.dropdown {
  background: #5b4d4da1;
}

ul li:hover ul.dropdown {
  display: block;
}
