.container {
  display: flex;
  justify-content: center; /* alinha os filhos horizontalmente ao centro */
  align-items: center; /* alinha os filhos verticalmente ao centro */
}

.text-home .bag {
  flex: 1; /* faz as divs ocuparem a mesma largura */
  width: 200px;
  height: 100px;
  margin: 0 10px; /* Espaçamento entre as divs */
}

.text-home {
  font-family: revert-layer;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 630px;
}

p {
  font-family: system-ui;
}

/* Estilos para telas maiores ou iguais a 650 pixels de largura */
@media only screen and (max-width: 650px) {
  .container {
    display: block;
  }
  p {
    margin-left: 13px;
  }
  img {
    margin-left: 150px;
  }

}


